/* Milla Tuppurainen */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #172A3A;
}

#headerbox {
    height: 10em;
    background-image: url(images/waterdrops.jpg);
    background-repeat: no-repeat;
}

header h1 {
    color: white;
}

.navbar {
    border: 2px solid #004336;
    background-color: #508991;
}

@font-face {
    font-family: myFirstFont;
    src: url(Fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
  }

h1 {
    font-family: myFirstFont;
    font-size: 3em;
    padding: 10px;
}

#name {
    color: #09BC8A;
    font-size: x-large;
}

.btn {
    background-color:#09BC8A;
    border-color: #004336;
}

.col img {
    padding-bottom: 10px;
}

.weather {
    font-weight: bold;
    color:#004346;
    border-bottom: 1px solid #004346;
}

footer {
    text-align: center;
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    background-color: #004336;
    color: white;
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
} 

/*Use at least some of the following selectors in your CSS: +, [ ], ~.
Use Less/Sass. You have to include at least one of the following: variables, mixins and operations.*/