body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #172A3A;
}

div#headerbox {
    height: 10em;
    background-image: url(images/water-g1b6467872_1280.jpg);
    background-repeat: no-repeat;
}

header h1 {
    color: white;
}

.navbar {
    border: 2px solid #004336;
    background-color: #508991;
}

@font-face {
    font-family: myFirstFont;
    src: url(C:\Users\milla\Desktop\Bootstrap\Fonts\DM_Serif_Display\DMSerifDisplay-Regular.ttf);
  }

h1 {
    font-family: myFirstFont;
    font-size: 3em;
    padding: 10px;
}

.col img {
    padding-bottom: 10px;
}

footer {
    text-align: center;
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    background-color: #004336;
    color: white;
}

footer p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
} 