/* Milla Tuppurainen */

$mountainmeadow-color: #09BC8A;
$mediumturquoise-color: #75DDDD;
$steelteal-color: #508991;
$warmblack-color: #004346;

@mixin theme($theme: #172A3A) {
    background-color: $theme;
    color: white;
  }

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    @include theme;
}

#headerbox {
    height: 10em;
    background-image: url(../../Images/waterdrops.jpg);
    background-repeat: no-repeat;
}

header h1 {
    color: white;
}

.navbar {
    border: 5px solid $steelteal-color;
}

@font-face {
    font-family: myFirstFont;
    src: url(../../Fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
  }

h1 {
    font-family: myFirstFont;
    font-size: 3em;
    padding: 10px;
    color: $steelteal-color;
}

h5 {
    color: $steelteal-color;
}

#name {
    color: $mountainmeadow-color;
    font-size: x-large;
}

.btn {
    background-color: $mountainmeadow-color;
    border-color: $mediumturquoise-color;
}

p {
    margin-bottom: 20px;
}

.accordion-body {
    @include theme;
}

.accordion-button {
    background-color: $steelteal-color;
}

[class*=col] > img {
    padding-bottom: 20px;
}

.weather {
    font-weight: bold;
    color: $mediumturquoise-color;
    border-bottom: 1px solid $mediumturquoise-color;
}

footer {
    text-align: center;
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    background-color: $warmblack-color;
    color: white;
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
} 