/* Milla Tuppurainen */

$mountainmeadow-color: #09BC8A;
$mediumturquoise-color: #75DDDD;
$steelteal-color: #508991;
$warmblack-color: #004346;

@mixin theme($theme: #172A3A) {
    background-color: $theme;
    color: white;
  }

@font-face {
    font-family: myFirstFont;
    src: url(../../Fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    @include theme;
}

#headerbox {
    height: 10em;
    background-image: url(../../Images/waterdrops.jpg);
    background-repeat: no-repeat;
    header h1 {
        color: white;
    }
}

.navbar {
    border: 5px solid $steelteal-color;
}

h1 {
    font-family: myFirstFont;
    font-size: 3em;
    padding: 10px;
    color: $steelteal-color;
}

h5 {
    color: $steelteal-color;
}

p {
    margin-bottom: 20px;
}

[class*=col] > img {
    padding-bottom: 20px;
}

footer {
    text-align: center;
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    background-color: $warmblack-color;
    color: white;
    p {
        padding-top: 10px;
        font-size: 14px;
        a {
            text-decoration: none;
            font-weight: bold;
            color: white;
        }
    } 
}

/*Index-page*/
#name {
    color: $mountainmeadow-color;
    font-size: x-large;
}

.btn {
    background-color: $mountainmeadow-color;
    border-color: $mediumturquoise-color;
}

/*Atlantin valtameri-page*/
.accordion-button {
    background-color: $steelteal-color;
}

.accordion-body {
    @include theme;
}

/*Intian valtameri-page*/
.weather {
    font-weight: bold;
    color: $mediumturquoise-color;
    border-bottom: 1px solid $mediumturquoise-color;
    a {
        text-decoration: none;
        color: white;
    }
}